.accueil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(./../assets/Couv.jpg);
    object-fit: cover;
    filter: brightness(92%);
     
      #container-principal{
         width: 80%;
        //  margin-top: -14rem;
         filter: brightness(110%);

          #title{
             
             h1{
                 font-size: 52px;
                 font-family: $font-1;
                 font-weight: bold;
                 color:rgb(218, 222, 226);
                 text-shadow: 0 1px 5px black;
             }
          }
      }
}